body,html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 5fr 5fr 5fr;
    grid-template-areas: 
        "header header header header header header header header header header"
        "nav nav main main main main main news news news"
        "nav nav main main main main main news news news"
        "nav nav stat stat stat stat stat stat stat stat";
    height: 100vh;
    background-color: #152028;
    color: white;
    font-family: monospace;
}

  .navigation {
    grid-area: nav;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    min-width: 20vw;
    overflow: hidden;
  }

  .main{
    grid-area: main;
    text-align: center;
    background-color: blue;
    min-width: 50vw;
  }
  
  .news {
    grid-area: news;
    background-color: coral;
    min-width: 30vw;
  }

  .stat {
    grid-area: stat;
    background-color: darkgoldenrod;
    min-width: 0;
  }

  .categories {
      text-align: left;
  }

  .announce {
    grid-area: announce;
    min-width: 0;
  }

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: 
    "logo logo search search search search search user user user";
  min-width: 0;
}

.logo {
  grid-area: logo;
  min-width: 20vw;
}

.search-bar {
  grid-area: search;
  min-width: 50vw;
}

.user-status {
  grid-area: user;
  min-width: 30vw;
}