* {
  box-sizing: border-box;
}
:root {
  --header-height: 4vh;
  --header-padding: 1vh 0
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, form, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
input, button {
  all: unset;
}
li {
  list-style-type: none;
}
.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: 
  "nav nav main main main main main news news news"
  "nav nav stat stat stat stat stat stat stat stat";
  height: 100vh;
  background-color: #152028;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2vh 2vw;
}
.navigation, .main, .news, .stat {
  font-size: 1.4vh;
}
.navigation {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  border-right: 0.2vw solid #2a3945;
  padding: 0 1vw;
  height: 96vh;
  width: 19.2vw;
}
.logo {
  grid-area: logo;
  height: var(--header-height);
  padding: var(--header-padding);
  display: flex;
  font-weight: bold;
}
.logo div {
  height: 2vh;
}
.logo div img {
  width: 100%;
  height: 100%;
  padding-right: 1vw;
}
.logo span {
  transform: translate(0, -0.2vh);
  font-size: 1vh;
  
}
.nav1 {
  border-bottom: 0.2vw solid#2a3945;
  padding-bottom: 2vh;
}
.nav2 {
  padding-top: 2vh;
}
.navigation section {
  display: flex;
  flex-direction: column;
}
.navigation section a {
  padding: 1vh;
  text-decoration: none;
  color: #7b8892;
  display: flex;
  align-items: center;
}
.navigation .currentpage {
  color: white;
}
section a div {
  height: 2vh;
}
section a div img {
  width: 100%;
  height: 100%;
  padding-right: 1vw;
}
.main {
  grid-area: main;
  text-align: center;
  padding: 0 3vw;
  width: 48vw;
  height: 67vh;
  overflow: hidden;
}
.search-bar {
  grid-area: search;
  width: 48vw;
  height: var(--header-height);
}
.search-container {
  background-color: #202e39;
  border-radius: 1vh;
  padding: var(--header-padding);
  padding-left: 2vh;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
}
.search-container div {
  height: 2vh;
}
.search-container div img {
  width: 100%;
  height: 100%;
  padding-right: 1vw;
}
.search-bar input {
  background-color: #202e39;
  border: none;
}
::placeholder {
  color: #7f8c96;
}
.main-content {
  display: grid;
  grid-template-areas: 
    "announcement"
    "categories"
    "categories"
    "categories";
  padding-top: 2vh;
  height: 61vh;
}
.announcement {
  grid-area: announcement;
  background-color: #202e39;
  border-radius: 1vh;
  padding: 3vh;
  text-align: left;
  word-wrap: break-word;
  display: flex;
  justify-content: space-between;
  overflow-wrap: anywhere;
  height: 20vh;
  overflow: hidden;
}
.announcement-inner {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.announcement-inner div:first-of-type {
  margin-right: 4vh;
}
.announcement div {
  min-width: 10vw;
  display: flex;
  flex-direction: column;
}
.announcement div h2 {
  font-size: 2vh;
  padding-bottom: 1vh;
}
.announcement div img {
  width: 100%;
  height: 100%;
}
.announcement div p {
  color: hsl(205deg 12% 60%);
}
.announcement button {
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 2vh;
  background-color: hsl(86deg 70% 41%);
  color: white;
  padding: 2vh;
  border-radius: 1vh;
  font-weight: bold;
}
.categories {
  text-align: left;
  grid-area: categories;
  padding-top: 2vh;
  height: 41vh;
}
.category-list {
  height: 31vh;
  overflow: scroll;
  overflow-y: scroll;
  -webkit-mask-image: linear-gradient(to top, transparent, green), linear-gradient(to left, transparent 17px, green 17px);
  -webkit-mask-size: 100% 20000px;
  -webkit-mask-position: left bottom;
  transition: mask-position 0.3s, -webkit-mask-position 0.3s;
}
.category-list:hover {
  -webkit-mask-position: left top;
}
.category-list li{
  padding: 1vh 1.5vw;
  margin: 0.5vh 0; 
  background-color: #202e39;
  border-radius: 1vh;
  display: flex;
  justify-content: space-between;
}
.category-list li:first-of-type {
  margin-top: 0;
}
.category-list li div {
  display: flex;
  align-items: center;
}
.category-stats {
  flex-direction: column;
  padding-left: 1vw;
}
.category-stats h1 {
  font-weight: bold;
  padding-bottom: 0.5vh;
}
.category-stats p {
  color: hsl(205deg 15% 68%);
}
.categories h2 {
  display: flex;
  font-weight: bold;
  align-items: center;
}
h2 div img {
  width: 100%;
  height: 100%;
  padding-right: 1vw;
}
h2 div {
  height: 2vh;
}
.title-announcement {
  grid-area: t;
  font-weight: bold;
}
.news {
  grid-area: news;
  width: 28.8vw;
  max-height: 67vh;
  overflow: hidden;
}
.user-status {
  grid-area: user;
  height: var(--header-height);
  padding: var(--header-padding);
  display: flex;
  align-items: center;
}
.user-status div {
  height: 2vh;
  width: 2vh;
  margin-right: 1vh
}
.user-status div img {
  height: 100%;
  width: 100%;
}
.stat {
  grid-area: stat;
  height: 24vh;
  width: 76.8vw;
  padding: 0 3vw;
}
.currentpage {
  background-color: #101b23 ;
  border-radius: 1vh;
  color: white;
}
.currentpage div img {
  filter: brightness(10);
}
.nav-vertical-line::after {
  border-right: 0.3vw solid hsl(86deg 70% 41%);
  content:"";
  position: absolute;
  top: 6vh;
  left: 21.9vw;
  padding: 2vh 0;
  transform: translate(-1vw);
}
.route {
  text-align: left;
  padding-top: 1vh;
  color: #7f8c96;
}
.route span {
  color: #0084ff;
  padding-right: 1vw;
}
.category-list .category-img {
  background-color: #0084ff;
  width: 4vh;
  height: 4vh;
  padding: 1vh;
  border-radius: 1vh;
}
.category-list .gaming-colour {
  background-color: #0084ff;
}
.category-list .coding-colour {
  background-color: hsl(86deg 70% 41%);
}
.category-list .movies-colour {
  background-color: hsl(252deg 79% 65%);
}
.category-list .tutorials-colour {
  background-color: hsl(22deg 85% 56%);
}
.category-list .television-colour {
  background-color: hsl(86deg 70% 41%);
}
.category-list .food-colour {
  background-color: hsl(209deg 100% 50%);
}
.category-list .random-colour {
  background-color: hsl(252deg 79% 65%);
}
.category-img {
  height: 4vh;
  width: 4vh;
  padding: 2vh;
  border-radius: 1vh;
  margin-right: 1vw;
}
.category-img div {
  height: 2vh;
  width: 2vh;
}
.category-img img {
  height: 100%;
  width: 100%;
}
.filter-container {
  display: flex;
  justify-content: space-between;
  padding: 1vh 0;
  margin: 0;
  border:0;
  font: inherit;
}
.filter-container .filter-button {
  width: 5vh;
  height: 5vh;
  display: flex;
  align-items: center;
  padding: 1vh;
  border: 2px #202e39 solid;
  border-radius: 1vh;
}
.filter-categories {
  display: flex;
  font-weight: bold;
}
.filter-categories div {
  border-radius: 1vh;
  margin-right: 1vw;
}
.filter-img {
  border: 0.1vw solid #202e39;
  border-radius: 1vh;
  padding: 1vh;
  position: absolute;
  height: 2.5vh;
  width: 2.5vh;
  transform: translateX(-1.1vh);
  
}
.filter-img img {
  width: 100%;
  height: 100%;
  transform: rotate(90deg);
}
.current-category {
  background-color: hsl(209deg 100% 50%);
}
.staff-members {
  border-bottom: 0.2vw solid #2a3945;
  padding: 2vh 0;
}
.staff-members h2 {
  display: flex;
  font-weight: bold;
  align-items: center;
}
.member div img, .recent-post div img {
  height: 100%;
  width: 100%;
}
.member div {
  height: 2vh;
  width: 2vh;
}
.member {
  display: flex;
  align-items: center;
  width: 4vh;
  height: 4vh;
  padding: 1vh;
  border-radius: 1vh;
}
.member-list li{
  padding: 1vh 0;
  margin: 0.5vh 0; 
  border-radius: 1vh;
  display: flex;
}
.member-list li div {
  display: flex;
  align-items: flex-start;
}
.member-list .member {
  background-color: hsl(207deg 27% 19%);
  width: 4vh;
  height: 4vh;
  padding: 1vh;
  border-radius: 1vh;
}
.member-stats {
  flex-direction: column;
  padding-left: 1vw;
  
}
.member-stats h1 {
  font-weight: bold;
  padding-bottom: 0.5vh;
  text-align: left;
}
.member-stats p {
  color: hsl(205deg 15% 68%);
  overflow-wrap: break-word;
}
.recent-post .smaller-img {
  height: 1vh;
  width: 1vh;
}
.member-list .recent-post {
  background-color: hsl(207deg 27% 19%);
  width: 3vh;
  height: 3vh;
  padding: 1vh;
  border-radius: 1vh;
}
.stat-box {
  border: 0.1vw solid #202e39;
  border-radius: 1vh;
  margin-right: 2vw;
  padding: 2vh;
  height: 20vh;
  width: 20vh;
}
.stat div {
  display: flex;
  flex-direction: column;
}
.stat h2 {
  display: flex;
  align-items: center;
  padding-bottom: 2vh;
}
.stats-img img {
  height: 100%;
  width: 100%;
  filter: brightness(10);
}
.stats-img {
  height: 5vh;
  width: 5vh;
  padding: 1vh;
  border-radius: 1vh;
}
.stat-box div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.stat-box .stat-text {
  flex-direction: column;
  padding: 1vh 0;
  text-align: left;
}
.stat-text h1 {
  padding: 1vh 0;
}
.stat-text p {
  color: hsl(205deg 15% 68%);
}
.loading {
  height: 6vh;
  width: 15vw;
}
.stat .stat-boxes {
  display: flex;
  flex-direction: row;
}
.loading-section {
  align-items: center;
  padding-top: 1.5vh;
}
.hidden-eye-color {
  background-color: hsl(205deg 31% 12%);
}
.hidden-eye-color img {
  visibility: hidden;
}
.total-posts-color {
  background-color: hsl(86deg 70% 41%);
}
.liked-posts-color {
  background-color: hsl(29deg 94% 48%);
}
.total-threads-color {
  background-color: hsl(209deg 100% 50%);
}
.quoted-posts-color {
  background-color: hsl(252deg 79% 65%);
}
.current-statistic:hover {
  background-color: hsl(206deg 28% 17%);
}
.current-statistic:hover .hidden-eye-color img {
  visibility: visible;
}
.loading {
  height: 1vh;
  width: 4vw;
  border-radius: 1vh;
}
.loading-total-color {
  border-right: 2vw solid hsl(206deg 17% 29%);
  border-left: 3vw solid hsl(86deg 70% 41%);
}
.loading-liked-color {
  border-right: 2vw solid hsl(206deg 17% 29%);
  border-left: 3vw solid hsl(29deg 94% 48%);
}
.loading-thread-color {
  border-right: 2vw solid hsl(206deg 17% 29%);
  border-left: 3vw solid hsl(209deg 100% 50%);
}
.loading-quoted-color {
  border-right: 2vw solid hsl(206deg 17% 29%);
  border-left: 3vw solid hsl(252deg 79% 65%);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #202e39; 
  padding: 0 0.1vw;
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.login {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  background: rgba(31, 45, 55, 0.8);
  height: 96vh;
  width: 96vw;
}
.login form {
  display: flex;
  flex-direction: column;
  width: 35vw;
  height: 30vh;
  background-color: hsl(205deg 31% 12%);
  flex-direction: column;
  padding: 1vh;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(96, 96, 99, 0.25) 0px 50px 100px -20px, rgba(73, 71, 71, 0.3) 0px 30px 60px -30px, rgba(44, 44, 44, 0.35) 0px -2px 6px 0px inset;
  border-radius: 1vh;
}
.login input {
  border: 1px solid hsl(206deg 28% 17%);
  margin: 0.5vh;
  border-radius: 1vh;
  padding: 1vh;
  width: 20vw;
}
.login input[type="submit"] {
  margin: 1.5vh;
  text-align: center;
  background-color: hsl(206deg 28% 17%);
}
.login form:nth-of-type(2) {
  padding-top: 1vh;
  height: 40vh;
}
.login h1 {
  color: white;
}
.posts {
  display: flex;
  position: absolute;
  top: 9vh;
  width: 42vw;
  background: #152028;
  padding: 1vh 0;
}
.post {
  display: none;
  flex-direction: column;
  align-items: baseline;
  width: 42vw;
  height: fit-content;
  height: -moz-fit-content;
  border-radius: 1vh;
  background: #23323e;
  padding: 4vh 2vw;
}
.post-user {
  padding: 1vh 0;
  margin: 0.5vh 0;
  border-radius: 1vh;
  display: flex;
  justify-content: space-between;
  width: 38vw;
}
.post-user div {
  display: flex;
}
.post h1{
  font-size: large;
}
.post-content {
  text-align: justify;
  line-height: 2vh;
}
.post-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 38vw;
  margin-top: 2vh;
}
.likes {
  display: flex;
  align-items: center;
}
.like-img {
  height: 5vh;
  width: 5vh;
  padding: 1vh;
  border-radius: 1vh;
}
.like-img img {
  height: 100%;
  width: 100%;
}
.like-img:last-of-type img {
  transform: rotate(180deg);
}
.authenticated-section {
  display: flex;
}
.authenticatedhide {
  display: none;
}
.authenticated {
  display: flex;
}
.navigation section a.authenticated-section{
  display: none;
}
.create-post {
  top: 0;
  left: 0;
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(31, 45, 55, 0.8);
  height: 100vh;
  width: 100vw;
}
.create-post-form {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 80vh;
  background-color: hsl(205deg 31% 12%);
  flex-direction: column;
  padding: 1vh;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgba(96, 96, 99, 0.25) 0px 50px 100px -20px, rgba(73, 71, 71, 0.3) 0px 30px 60px -30px, rgba(44, 44, 44, 0.35) 0px -2px 6px 0px inset;
  border-radius: 1vh;
  font-size: 2vh;
  z-index: 1;
}
.create-post-form input {
  border: 2px solid hsl(205, 27.9%, 16.9%);
  border-radius: 1vh;
  width: 70vw;
  text-align: left;
  padding: 1vh 1vw;
}
.create-post-form textarea {
  width: 72vw;
  height: 45vh;
  padding: 1vh 1vw;
  border-radius: 1vh;
}
.create-post-form input[type="submit"] {
  width: 13vw;
  text-align: center;
}
.user-status.authenticatedhide.authenticated {
  font-size: 3vh;
}
.show-login, .show-post-form {
  display: flex;
}
.create-post-form div {
  display: flex;
  justify-content: space-evenly;
  width: 72vw;
}
input[type=checkbox] {
  display: none;
}
label :checked + span {
  background: hsl(209deg 100% 50%);
  color: white;
}

label span {
  display: flex;
  justify-content: center;
  background: #152028;
  height: 4vh;
  width: 9vw;
  text-align: center;
  border: 2px solid #202e39;
  align-items: center;
  border-radius: 1vh;
  font-size: 2vh;
}
.filter-categories div {
  display: flex;
}
.filter-categories div:first-of-type {
  width: 38vw;
  overflow-x: scroll;
  justify-content: space-between;
  gap: 1vw;
  height: fit-content;
  
}