* {
  box-sizing: border-box;
}
:root {
  --header-height: 4vh;
  --header-padding: 1vh 0
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
input, button {
  all: unset;
}
li {
  list-style-type: none;
}
.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 4fr 1fr;
  grid-template-areas: 
  "nav nav main main main main main news news news"
  "nav nav stat stat stat stat stat stat stat stat";
  height: 100vh;
  background-color: #152028;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2vh
}
.navigation, .main, .news, .stat {
  font-size: 1.5vh;
}
.navigation {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  min-width: 20vw;
  overflow: hidden;
  border-right: 1px solid #2a3945;
  padding: 0 1vh;
}
.logo {
  grid-area: logo;
  height: var(--header-height);
  padding: var(--header-padding);
  display: flex;
  font-weight: bold;
}
.logo div {
  height: 2vh;
}
.logo div img {
  width: 100%;
  height: 100%;
  padding-right: 1vw;
}
.logo span {
  transform: translate(0, -0.2vh);
  font-size: 1vh;
  
}
.nav1 {
  border-bottom: 1px solid#2a3945;
  padding-bottom: 2vh;
}
.nav2 {
  padding-top: 2vh;
}
.navigation section {
  display: flex;
  flex-direction: column;
}
.navigation section a {
  padding: 1vh;
  text-decoration: none;
  color: #7b8892;
  display: flex;
  align-items: center;
}
section a div {
  height: 2vh;
}
section a div img {
  width: 100%;
  height: 100%;
  padding-right: 1vw;
}
.main {
  grid-area: main;
  text-align: center;
  min-width: 50vw;
  padding: 0 3vw;
}
.search-bar {
  grid-area: search;
  min-width: 50vw;
  height: var(--header-height);
}
.search-container {
  background-color: #202e39;
  border-radius: 1vh;
  padding: var(--header-padding);
  padding-left: 2vh;
  width: fit-content;
  display: flex;
}
.search-container div {
  height: 2vh;
}
.search-container div img {
  width: 100%;
  height: 100%;
  padding-right: 1vw;
}
.search-bar input {
  background-color: #202e39;
  border: none;
}
::placeholder {
  color: #7f8c96;
}
.main-content {
  display: grid;
  grid-template-areas: 
    "announcement"
    "categories"
    "categories"
    "categories";
  grid-template-rows: 3fr 6fr;
  padding-top: 2vh;
  min-height: 60vh;
}
.announcement {
  grid-area: announcement;
  min-width: 0;
  background-color: #202e39;
  border-radius: 1vh;
  padding: 3vh;
  text-align: left;
  word-wrap: break-word;
  display: grid;
  overflow-wrap: anywhere;
}
.announcement-inner {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.announcement-inner div:first-of-type {
  margin-right: 4vh;
}
.announcement div {
  min-width: 10vw;
}
.announcement div h2 {
  font-size: 3vh;
  padding-bottom: 1vh;
}
.announcement div img {
  width: 100%;
  height: 100%;
}
.announcement div p {
  color: hsl(205deg 12% 60%);
}
.announcement button {
  width: fit-content;
  margin-top: 2vh;
  background-color: hsl(86deg 70% 41%);
  color: white;
  padding: 2vh;
  border-radius: 1vh;
}
.categories {
  text-align: left;
  grid-area: categories;
  padding-top: 2vh;
}
.category-list li{
  padding: 1vh;
  margin: 0.5vh 0; 
  background-color: #202e39;
  border-radius: 1vh;
}
.categories h2 {
  display: flex;
}
h2 div img {
  width: 100%;
  height: 100%;
  padding-right: 1vw;
}
h2 div {
  height: 2vh;
}
.title-announcement {
  grid-area: t;
}
.news {
  grid-area: news;
  min-width: 30vw;
}
.user-status {
  grid-area: user;
  height: var(--header-height);
  padding: var(--header-padding);
}
.stat {
  grid-area: stat;
}
.currentpage {
  background-color: black ;
  border-radius: 1vh;
  filter: brightness(10);
}
.currentpage div img {
  filter: brightness(10);
}