<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="index.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>CEK Forum</title>
    </head>
    <body class="container">
        <nav class="navigation">
            <div class="logo">CEK Hello World!</div>
            <section class="nav1">
                <a href="#"><div><img src="/img/home.svg"></div>Home</a>
                <a href="#"><div><img src="/img/about.svg"></div>About</a>
                <a href="#"><div><img src="/img/contact.svg"></div>Contact</a>
                <a href="#"><div><img src="/img/press.svg"></div>Press</a>
                <a href="#"><div><img src="/img/random.svg"></div>Random</a>
            </section>
            <section class="nav2">
                <a href="#"><div><img src="/img/share.svg"></div>Share</a>
                <a href="#"><div><img src="/img/log-out.svg"></div>Logout</a>
            </section>
        </nav>
        <main class="main">
            <div class="search-bar">
                <div class="search-container">
                    <div><img src="/img/search.svg"></div>
                    <input type="search" id="searchf" name="searchf" placeholder="Search forums...">
                </div>
            </div>
            <div class="main-content">
                <section class="announcement">
                    <div class="announcement-inner">
                        <div>
                            <h2 class="title-announcement">Join us for an interesting discussion!</h2>
                            <p>
                            Join us now and talk about weird topics and interests.
                            </p>
                        </div>
                        <div class="img-announcement"><img src="/img/calendar.svg"></div>
                    </div>
                    <button>Get Started</button>
                </section>
                <section class="categories">
                    <h2><div><img src="/img/forum.svg"></div>Community forums</h2>
                    <ul class="category-list">
                        <li>Games</li>
                        <li>Code</li>
                        <li>Movies</li>
                    </ul>
                </section>
            </div>
        </main>
        <section class="news">
            <div class="user-status">User</div>
            <h2>Lorem Ipsum</h2>
            <p>sdjfgisudyfgusdgfuysdgfsdgfdsf</p>
        </section>
        <section class="stat">
            <h2>Statistics</h2>
        </section>
    </body>
</html>