<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CEK Forum</title>
  </head>
  <body class="container">
    <nav class="navigation">
        <a href="#">About</a>
        <a href="#">Contact</a>
        <a href="#">Press</a>
    </nav>
    <main class="main">
        <label for="gsearch">Search</label>
        <input type="search" id="searchf" name="searchf">
        <section>
            <h2>Announcement</h2>
            <p>Lorem Ipsum.</p>
        </section>
        <section>
        <h2>Category List</h2>
        <ul class="categories">
            <li>Games</li>
            <li>Code</li>
            <li>Movies</li>
        </ul>
        </section>
    </main>
    <section class="news">
        <h2>Lorem Ipsum</h2>
        <p>sdjfgisudyfgusdgfuysdgfsdgfdsf</p>
    </section>
    <section class="stat">
        <h2>Statistics</h2>
    </section>
  </body>
</html>