<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" type="image/svg" href="/img/logo.svg" />
        <link rel="stylesheet" href="index.css">
        <script src="index.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>CEK Forum</title>
    </head>
    <body class="container">
        <nav class="navigation">
            <div class="logo"><div><img src="/img/logo.svg"></div>cekforum<span>&#9679</span></div>
            <section class="nav1">
                <div class="nav-vertical-line">
                    <a class="currentpage" href="#"><div><img src="/img/home.svg"></div>Home</a>
                </div>
                <a href="#"><div><img src="/img/about.svg"></div>About</a>
                <a href="#"><div><img src="/img/contact.svg"></div>Contact</a>
                <a href="#"><div><img src="/img/press.svg"></div>Press</a>
                <a href="#"><div><img src="/img/random.svg"></div>Random</a>
            </section>
            <section class="nav2">
                <a href="#"><div><img src="/img/share.svg"></div>Share</a>
                <a href="#"><div><img src="/img/log-out.svg"></div>Logout</a>
            </section>
        </nav>
        <main class="main">
            <div class="search-bar">
                <div class="search-container">
                    <div><img src="/img/search.svg"></div>
                    <input type="search" id="searchf" name="searchf" placeholder="Search forums...">
                </div>
            </div>
            <div class="route"><span>●</span>Home > Community Forum</div>
            <div class="main-content">
                <section class="announcement">
                    <div class="announcement-inner">
                        <div>
                            <h2 class="title-announcement">Join us for a discussion!</h2>
                            <p>
                            Join us now and talk about weird topics and interests.
                            </p>
                        </div>
                        <button>Get Started</button>
                    </div>
                    <div class="img-announcement"><img src="/img/calendar.svg"></div>
                </section>
                <section class="categories">
                    <h2><div><img src="/img/forum.svg"></div>Community forums</h2>
                    <div class="filter-container">
                        <div class="filter-categories">
                            <div>All</div>
                            <div class="current-category">Gaming</div>
                            <div>Coding</div>
                            <div>Movies</div>
                        </div>
                        <div class="filter-img">
                            <img src="/img/filter.svg">
                        </div>
                    </div>
                    <ul class="category-list">
                        <li>
                            <div>
                                <div class="category-img gaming-colour"><div><img src="/img/gaming.svg"></div></div>Games                               
                            </div>
                            <div>
                                <div class="category-stats">
                                    <h1>100</h1>
                                    <p>Threads</p>
                                </div>
                                <div class="category-stats">
                                    <h1>999</h1>
                                    <p>Messages</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>
                               <div class="category-img coding-colour"><div><img src="/img/coding.svg"></div></div>Coding                               
                            </div>
                            <div>
                                <div class="category-stats">
                                    <h1>100</h1>
                                    <p>Threads</p>
                                </div>
                                <div class="category-stats">
                                    <h1>999</h1>
                                    <p>Messages</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>
                               <div class="category-img movies-colour"><div><img src="/img/movies.svg"></div></div>Movies                               
                            </div>
                            <div>
                                <div class="category-stats">
                                    <h1>100</h1>
                                    <p>Threads</p>
                                </div>
                                <div class="category-stats">
                                    <h1>999</h1>
                                    <p>Messages</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>
                               <div class="category-img tutorials-colour"><div><img src="/img/tutorial.svg"></div></div>Tutorials                               
                            </div>
                            <div>
                                <div class="category-stats">
                                    <h1>100</h1>
                                    <p>Threads</p>
                                </div>
                                <div class="category-stats">
                                    <h1>999</h1>
                                    <p>Messages</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>
                               <div class="category-img television-colour"><div><img src="/img/television.svg"></div></div>Television                               
                            </div>
                            <div>
                                <div class="category-stats">
                                    <h1>100</h1>
                                    <p>Threads</p>
                                </div>
                                <div class="category-stats">
                                    <h1>999</h1>
                                    <p>Messages</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>
                               <div class="category-img food-colour"><div><img src="/img/food.svg"></div></div>Food                               
                            </div>
                            <div>
                                <div class="category-stats">
                                    <h1>100</h1>
                                    <p>Threads</p>
                                </div>
                                <div class="category-stats">
                                    <h1>999</h1>
                                    <p>Messages</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>
                               <div class="category-img random-colour"><div><img src="/img/category-random.svg"></div></div>Random                               
                            </div>
                            <div>
                                <div class="category-stats">
                                    <h1>100</h1>
                                    <p>Threads</p>
                                </div>
                                <div class="category-stats">
                                    <h1>999</h1>
                                    <p>Messages</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </section>
            </div>
        </main>
        <section class="news">
            <div class="user-status"><div><img src="/img/log-out.svg"></div>Log-in / Sign up</div>
            <div class="staff-members">
                <h2><div><img src="/img/members-online.svg"></div>Staff Members</h2>
                <ul class="member-list">
                    <li>
                        <div>
                            <div class="member"><div><img src="/img/staff-member.svg"></div></div>                              
                        </div>
                        <div class="member-stats">
                            <h1>Christian Marcelo</h1>
                            <p>Forum Developer</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="member"><div><img src="/img/staff-member.svg"></div></div>                              
                        </div>
                        <div class="member-stats">
                            <h1>Esteban Lopez</h1>
                            <p>Forum Developer</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="member"><div><img src="/img/staff-member.svg"></div></div>                              
                        </div>
                        <div class="member-stats">
                            <h1>Kar-Yun Cheung</h1>
                            <p>Forum Developer</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="staff-members">
                <h2><div><img src="/img/members-online.svg"></div>Recent Threads</h2>
                <ul class="member-list">
                    <li>
                        <div>
                            <div class="recent-post"><div class="smaller-img"><img src="/img/staff-member.svg"></div></div>                              
                        </div>
                        <div class="member-stats">
                            <h1>Lorem Ipsum</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et vulputate enim, vel ultrices lectus.</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="recent-post"><div class="smaller-img"><img src="/img/staff-member.svg"></div></div>                              
                        </div>
                        <div class="member-stats">
                            <h1>Lorem Ipsum</h1>
                            <p>Maecenas iaculis pharetra condimentum. Suspendisse luctus facilisis dolor, in mollis urna auctor eget.</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="recent-post"><div class="smaller-img"><img src="/img/staff-member.svg"></div></div>                              
                        </div>
                        <div class="member-stats">
                            <h1>Lorem Ipsum</h1>
                            <p>Nullam tristique lorem id fringilla dictum. Proin eu condimentum elit. Nam gravida turpis eget lectus dictum, eget egestas turpis tincidunt.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div>

            </div>
        </section>
        <section class="stat">
            <h2><div><img src="/img/statistic.svg"></div>Statistics</h2>
            <div class="stat-boxes">
                <div class="stat-box current-statistic">
                    <div>
                        <div class="stats-img total-posts-color"><img src="/img/forum.svg"></div>
                        <div class="stats-img hidden-eye-color"><img src="/img/hidden-eye.svg"></div>
                    </div>
                    <div class="stat-text">
                        <h1>Total Posts</h1>
                        <p>Until Next Rank-Up</p>
                    </div>
                    <div class="loading-section">
                        <div class="loading loading-total-color"></div>
                        <div>420/999</div>
                    </div>
                </div>
                <div class="stat-box current-statistic">
                    <div>
                        <div class="stats-img liked-posts-color"><img src="/img/like.svg"></div>
                        <div class="stats-img hidden-eye-color"><img src="/img/hidden-eye.svg"></div>
                    </div>
                    <div class="stat-text">
                        <h1>Liked Posts</h1>
                        <p>Out of Total Posts</p>
                    </div>
                    <div class="loading-section">
                        <div class="loading loading-liked-color"></div>
                        <div>5/7</div>
                    </div>
                </div>
                <div class="stat-box current-statistic">
                    <div>
                        <div class="stats-img total-threads-color"><img src="/img/forum.svg"></div>
                        <div class="stats-img hidden-eye-color"><img src="/img/hidden-eye.svg"></div>
                    </div>
                    <div class="stat-text">
                        <h1>Total Threads</h1>
                        <p>Out of Total Posts</p>
                    </div>
                    <div class="loading-section">
                        <div class="loading loading-thread-color"></div>
                        <div>5/7</div>
                    </div>
                </div>
                <div class="stat-box current-statistic">
                    <div>
                        <div class="stats-img quoted-posts-color"><img src="/img/forum.svg"></div>
                        <div class="stats-img hidden-eye-color"><img src="/img/hidden-eye.svg"></div>
                    </div>
                    <div class="stat-text">
                        <h1>Quoted Posts</h1>
                        <p>Out of Total Posts</p>
                    </div>
                    <div class="loading-section">
                        <div class="loading loading-quoted-color"></div>
                        <div>5/7</div>
                    </div>
                </div>
            </div>
        </section>
        <section class="login">
            <form action="/login" method="POST">
                <h1>Log-In</h1>
                <input type="text" name="username" placeholder="Username" maxlength="15" required>
                <input type="password" name="password" placeholder="Password" minlength="8" required>
                <input type="submit">
            </form>
            <form action="/sign-up" method="POST" onsubmit="compare_input(event);">
                <h1>Sign up today!</h1>
                <input type="email" name="email" placeholder="Email Address" required>
                <input type="text" name="username" placeholder="Username" maxlength="15" minlength="8" required>
                <input type="password" id="first-password" name="password" placeholder="Password" required>
                <input type="password" id="second-password" placeholder="Confirm Password" required>
                <input type="submit">
            </form>
        </section>
        <section class="posts">
            Posts Section
            <div>Post
                <div>Username</div>
                <div>Post text</div>
                <div>Likes</div>
                <div>Comments</div>
                <button class="authenticated-section {{.Authenticated}}">Like</button>
                <button class="authenticated-section {{.Authenticated}}">Comment</button>
            </div>
            <div class="authenticated-section {{.Authenticated}}">User correctly authenticated!
                <button>Create new post</button>
                <form action="new-post" method="POST">
                    <input type="submit" value="Send">
                </form>
            </div>
        </section>
    </body>
</html>