<html>
    <head>
        <meta http-equiv="refresh" content="3;url=http://localhost:8080/" />
    </head>
    <body>
        <h1>Authenticating...</h1>
        {{if .IsSuccessful}}
        <h4>You have full user rights!</h4>
        {{else}}
        <h4>Username or password incorrect</h4>
        {{end}}
    </body>
</html>
